<!doctype html>
<head>
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300" rel="stylesheet">
    <title>BookLogger</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
      <div class="left-container">
        <div class="title-bord">
        <h4>BLANK AS OF NOW</h4><h6 style="font-size: 10px; color: black; margin: 0;">NOT YET DECIDED</h6>
        </div>
      </div>
      <div class="middle-container">
        <div class="title-bord">
        <h4>月間ランキング TOP5</h4><h6 style="font-size: 10px; color: black; margin: 0;">紀伊国屋書店マンスリーランキングより</h6>
        </div>
        <ul class="ranking list">
        <% @books.each do |book| %>
          <li class="ranks">
          <div class="rankdetail">
          <h3><%= book.ranking %>位</h3>
          <a href="/books/<%= book.id %>"></a>
          <h5><%= book.bookname %></h5><h6><%= book.author %></h6><h6><%= book.publisher %></h6>
          </div>
          </li>
        <% end %>
        </ul>
      </div>

    </main>
  </div>
</body>

