      <div class="left-container">
        <div class="indextitle-bord">
        <h4>総合点ランキング TOP5</h4><h6 style="font-size: 14px; color: black; margin: 0;">レビュー点・ランキングに基づく</h6>
        </div>
      </div>
      <div class="middle-container">
        <div class="indextitle-bord">
        <h4>月間ランキング TOP5</h4><h6 style="font-size: 14px; color: black; margin: 0;">紀伊国屋書店マンスリーランキングより</h6>
        </div>
        <ul class="ranking-list">
        <% @books.each do |book| %>
          <li class="ranks">
          <div class="rankdetail">
          <div class="rankdetailbox">
          <h3><%= book.ranking %>位</h3>
          <a href="/books/<%= book.id %>"></a>
          <h5><%= book.bookname %></h5><h6><%= book.author %></h6><h6><%= book.publisher %></h6>
          </div>
          </div>
          </li>
        <% end %>
        </ul>
      </div>

<!--<i class="fa fa-book" aria-hidden="true"></i>-->
    </main>
  </div>

