<!doctype html>
<head>
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300" rel="stylesheet">
    <title>BookLogger</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
  <div id="page" class="hfeed site">
  <header id="header">
    <h1>BOOK LOGGER</h1>


  </header>

  <div id="primary" class="content-area">
    <main id="main" class="site-main">

      <div id="upperbar-selector">
        <nav id="up-navigation" class="up-nav">
          <ul>
            <li class="page_item">
            <a href="#" title="">月間ランキング
            </a></li>
            <li class="page_item">
            <a href="#" title="">新刊情報
            </a></li>
            <li class="page_item">
            <a href="#" title="">座談会
            </a></li>

            <li class="page_item">
            <%= link_to "ログイン", new_user_session_path, class: 'post' %></li>
            <li class="page_item">
            <%= link_to "ログアウト", new_user_registration_path, class: 'post' %></li>

          </ul>
      <form role="search" method="get" class="search-form">
        <div class="searchbox">
          <input type="search" class="search-field" placeholder="作品名・作家名で検索">
          <input type="submit" class="search-submit" value="submit">
        </div>
      </form>
      </nav>
    </main>
  </div><!-- #primary -->

  <div class="container">
    <div class="top-container">
      <image></image>
  <div class="container mm-container">
    <div class="left-container">
    <h3>most commented reviews</h3>
    </div>
  <div class="container mm-container">
    <div class="middle-container">
      <h3>ranking TOP 5</h3>
        <ul>
        <% @book.each do |product| %>
          <li class="page_item"><a href="/books/<%= book.id %>"><div class="thumbnail_figure" style="background-image:url(<%= book.image %>)"></div></a>
            <div class="tumbnail_caption">
            <h5 class="text-small" title="<%= book.title %>">
              <%= book.title %></h5>
              <p class="text-small">
                <span class="rating-star">
                  <i class="star-rate-[ここに評価を表示]0"></i>
                </span>
              </p>
            </div>
          </li>
        <% end %>
        </ul>
    </div>
  <div class="container mm-container">
    <div class="right-container">
      <h3>new release info</h3>
    </div>

  </div>


    <footer id="footer">
      <div class="credits">
        <p>Copyright 2017 Book Logger(test). All rights reserved.</p>
          </div>
    </footer>
  </div>
</body>
