
  <div class="full-container">
  <header class="header_title">
    <div class="title-row">
    <i class="fa fa-book fa-4x" aria-hidden="true"></i><h4><%= @book.bookname %></h4>
    </div>
  </header>
  <div class="article-image">
     <a href="https://www.kinokuniya.co.jp"><img src="https://www.kinokuniya.co.jp<%= @book.image %>" alt="<%= @book.bookname %>"></a>
  </div>
  <div class="article-info">
  <ul>
    <li><h5>著者:<%= @book.author %></h5></li>
    <li><h5>出版社:<%= @book.publisher %></h5></li>
    <li><h5>出版年月:<%= @book.published_date %></h5></li>
    <li><h5>価格:<%= @book.price %>円</h5></li>
  </ul>
  </div>
  <div class="article-moreinfo">
    <p>あらすじ</p>
    qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
    <p>著者紹介</p>
  </div>
    </main>
  </div>



<!-- <a href="../images/goods/ar2/web/imgdata2/large/40410/4041014514.jpg" target="_blank">
  <img itemprop="image" onerror="alterImage(this, '../images/web/nowprint.gif')" src="../images/goods/ar2/web/imgdata2/40410/4041014514.jpg" alt="角川文庫<br> ナミヤ雑貨店の奇蹟" width="195">
            </a>
 -->
