<div id="review_container">
   💬 (これまでのレビュー数合計を入力) ★（これまでのレビュー評価平均点を入力）
   
   <div class="review clearfix">
     <div class="thumbnail">
     </div>
     <div class="review_contents">
       <div class="review_header clearfix">
        <%= @database.bookname %> / <%= @database.author %>
        <%= @user.handlename %>
         <div class="rank">
               <div class="star-rating-front" style="width: 50%">★★★★★</div>
               <div class="star-rating-back">★★★★★</div>
        </div>
        
         <%= form_for [@database, @review] do |f| %>
         <div class="my_review">
            <%= f.text_area :review, placeholder: 'この本のレビューを書く', style: 'width: 80%;height: 400px;' %>
         </div>
           <%= f.submit "投稿",class: 'btn btn-primary' %>
           <% end %>
       </div>
     </div>
   </div>
 </div>