
  <div id="page" class="hfeed site">
  <header id="header">
    <%= link_to(root_path) do %>
    <h1>BOOK LOGGER</h1>
    <% end %>
  </header>

  <div id="primary" class="content-area">
    <main id="main" class="site-main">
      <div id="upperbar-selector">
        <nav id="up-navigation" class="up-nav">
          <ul>
            <li class="page_item">
            <a href="#" title="">月間ランキング
            </a></li>
            <li class="page_item">
            <a href="#" title="">新刊情報
            </a></li>
            <li class="page_item">
            <a href="#" title="">座談会
            </a></li>

            <li class="page_item">
            <% if !user_signed_in? %>
            <%= link_to "新規登録", new_user_registration_path %></li>
            <%= link_to "ログイン", new_user_registration_path, class: 'post' %></li>
            <% else %>
            <li class="page_item">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <li class=" page_item">
              <%= link_to "マイページ", user_path(current_user.id) %></li>
            <% end %>
          <%= form_tag  search_result_books_path, :method => 'get' do %>
            <p>
              <%= text_field_tag :search, params[:search] %>
              <%= submit_tag "検索", :name => nil %>
            </p>
<% end %>
          </ul>
        </nav>
      </div>
  </main>
